                              ** Data Types and Structures Questions **
                              

### 1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
They are important because they provide the foundation for designing efficient algorithms and writing optimized code.


### 2. Difference between mutable and immutable data types with examples

Mutable: Can be changed after creation (e.g., list, dict, set).
Immutable: Cannot be changed after creation (e.g., int, str, tuple).

Examples:
mutable_list = [1, 2, 3]
mutable_list.append(4) --> Modified

immutable_str = "hello"
immutable_str[0] = 'H' --> This will raise an error


### 3. Differences between lists and tuples

Lists are mutable, tuples are immutable.
Lists use more memory, tuples are faster.


### 4. How dictionaries store data

Dictionaries store data as key-value pairs using a hash table internally.


### 5. Why use a set instead of a list

Sets automatically remove duplicates and are faster for membership tests.


### 6. What is a string in Python, and how is it different from a list

A string is a sequence of characters. It is immutable, whereas lists are mutable.


### 7. How tuples ensure data integrity

Tuples are immutable, meaning once created, their data cannot be changed, ensuring integrity.


### 8. What is a hash table, and how does it relate to dictionaries

A hash table is a data structure that maps keys to values using a hash function.
Python's dictionaries use hash tables under the hood.


### 9. Can lists contain different data types?

Yes, lists in Python can store multiple data types.


### 10. Why are strings immutable in Python

To improve performance and security, strings are made immutable in Python.


### 11. Advantages of dictionaries over lists

Faster lookup, better for labeled data, no need to search through items by index.


### 12. When is tuple preferable over list?

When you want a fixed collection of data that should not be changed.
Example: Coordinates (x, y)


### 13. How sets handle duplicates

Sets automatically discard duplicate values.


### 14. How “in” works differently for lists vs. dictionaries

In lists: checks for value.
In dicts: checks for key.


### 15. Can you modify elements of a tuple?

No, tuples are immutable.


### 16. What is a nested dictionary?

A dictionary within another dictionary.
Example:
student = {'name': 'John', 'marks': {'math': 90, 'science': 80}}


### 17. Time complexity of accessing dict elements

O(1) average-case time complexity.


### 18. When are lists preferred over dictionaries?

When order matters or when dealing with a simple collection of items.


### 19. Why dictionaries are unordered (before Python 3.7)

They use hash functions to store keys; order is not guaranteed in older versions.


### 20. Difference between list and dictionary in data retrieval

List: access by index.
Dict: access by key.

                                                **Practical Questions**

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Yashwanth"
print(name)

Yashwanth

In [2]:
# 2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
print(nums[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {"name": "Alice", "age": 30}
print(d["name"])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {"name": "Bob", "age": 22, "city": "New York"}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {"name": "Alice", "city": "Paris"}
print("city" in d)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
l = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[4, 12, 30, 72, 76]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Write a code to convert a list of strings into a set
words = ["apple", "banana", "apple", "orange"]
print(set(words))

{'apple', 'orange', 'banana'}